<mat-toolbar id="toolbar" color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>My App</span>
    <span class="example-spacer"></span>
    <mat-icon (click)="mealS.searchEmitter.emit(this.searchText)">search</mat-icon>
    <input class="search" matInput placeholder="SEARCH" [(ngModel)]="searchText">
    <app-favourites *ngIf="isFavourite"></app-favourites>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" (click)="toggleFavourites()">
      <mat-icon [ngClass]="{'active': isFavourite}">favorite</mat-icon>
    </button>
  </mat-toolbar>
 